.lib-wrapper {
    min-height: 800px;
    gap: 190px;
}

.lib-wrapper h3 {
    text-align: center;
    margin-top: 50px;
}

.btn-start {
    background: #4b8e8d;
    border-color: #4b8e8d;
    border-radius: 0;
    width: 20%;
}

.navs li {
    list-style: none;
}

.btn-programs {
    background: #2699FB;
    border-radius: 10px;
    padding: 15px 30px;
    border: 0;
}

.navbar-dashboard {
    border-radius: 0;
    background: #4b8e8d;
}

.content {
    padding: 0 0 0 0;
}

.signup {
    color: #0086F8;

}

strong {
    font-weight: 700;
}

.btn-signup {
    background: #2699FB;
    padding: 20px;
    border: 0;
}

.inner-wrap {
    background: #0A7FF2;
    min-height: 400px;

}

.inner-wrap h3 {
    font-size: 75px;
    color: #fff;
}

.quick-links,.topics-links {
    display: flex;
    padding-left: 0;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 30px;
}

ul {
    list-style: none;
}

.quick-links li,.topics-links li{

    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.breadcrumb-item a {
    font-size: 28px !important;
    color: #fff;
}

.breadcrumb-item.active {
    font-size: 28px;
    color: #fff;
}

.wrapper {
    background: #000;
}

.wrapper .d-flex {
    background: #000;
    padding: 15px 0;
}

.wrapper .d-flex li {
    color: #fff;
}

.cont-slide-nav-wrap {
    position: relative;
}
.cont-slide-nav-wrap a{
    position: absolute;

}
.cont-slide-nav-wrap a.next,.cont-slide-nav-wrap a.prev{
    top: -243px;
} 
.cont-slide-nav-wrap a.next{
    right: -80px;
}
.cont-slide-nav-wrap a.prev {
    left: -80px;
}
.heading-title{
    margin-top: 40px;
}
.search-wrap{
    width:auto;
}
.search-wrap #form1{
width:450px;
border-radius: 2px;
}
.search-wrap button{
    margin-left: -3.062rem !important;
    background: transparent;
border: 0;
}
.search-wrap button i{
    color: #0086F8;
}
.navbar-nav .nav-link span{
    padding-left: 10px;
}
.prev,.next{
    background: transparent;
border: 0;
box-shadow: 0px 0px 0px;
}
.prev i,.next i{
    font-size: 36px;
    color: #000;
}